<html>
<head>
    <title>Standard webpage created by Ansible</title>
</head>
<body>
  <h1>
    Standard webpage created by Ansible
  </h1>
    <h2>
      Yes! It works.<br><br>
        My IP Address is {{ ansible_host }}
    </h2>
    <br/><br/><br/>
    <p>
        <img src="penclchk.gif" alt="Test Logo"/>
    </p>
</body>
</html>
